*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
}
span{
    cursor: pointer;
font-size: 3em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: lighter;
margin: 1em 1em;
display: inline-block;
}
span.active{
    animation: jump 2s ease-in-out;
}

@keyframes jump{
    0%{
 transform: translate(0,0) rotate(120deg);
    }
    100%{
transform: scale(2.5) translate(0,-180px);
    }
}

