*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: cornflowerblue;
}
.container{
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px 0 black;
    background: white;
    border-radius: 10px;
}
.container ul{
    display: flex;
    list-style-type: none;
}
.container li{
    margin: 2em 2em;
}
.container button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background: goldenrod;
    border: 1px solid black;
    cursor: pointer;
}
.container button:hover{
    background: green;
}